name: Create Release Branch
permissions:
  contents: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create Release Branch
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          git checkout -b releases/$VERSION
          git push -u origin releases/$VERSION
